{% extends 'contactManager/base.html' %}

{% block content %}

<h2>Группа: {{group.name}}</h2>
<a href="{% url 'editGroup' group.pk %}">Редактировать</a>
<a href="{% url 'addContactInGroup' group.pk %}">Добавить контакты в группу</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Number phone</th>
      </tr>
    </thead>
    <tbody>
      
        {% for c in listContact %}
    

        <td><a id='linktd' href="{% url 'selectContact' c.pk %}">{{c.name}}</a></td>

        {% if c.email != None %}
          <td>{{c.email}}</td>
        {% else %}
          <td></td>
        {% endif %}

        {% if c.phoneNumber != 'None' %}
          <td>{{c.phoneNumber}}</td>
        {% else %}
          <td></td>
        {% endif %}
        
      </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock content %}